* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.navbar {
  background-color: #f1f4ff;
}

.jumbotron {
  background-color: #f1f4ff;
}

.jumbotron .text .satu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.4rem;
  line-height: 3.2rem;
}

.jumbotron .text .dua {
  font-family: Arial, Helvetica, sans-serif;
  color: darkgray;
}

.jumbotron .image {
  position: relative;
}

.jumbotron .image .google {
  position: absolute;
  top: 1rem;
  left: 6rem;
}
.jumbotron .image .drop {
  position: absolute;
  top: 7rem;
  left: 4rem;
}
.jumbotron .image .card {
  width: 17rem;
  height: 12rem;
  position: absolute;
  bottom: 1rem;
  right: 0.2rem;
}

.jumbotron .image .card a {
  text-decoration: none;
}

#step .container .row .kedua .wey p {
  line-height: 0.5rem;
}

#blog .container .satu div {
  height: 28rem;
  background-image: url(../img/kk1.png);
  background-size: cover;
  background-position: center;
}

#blog .container .dua .gbr1 {
  width: 8rem;
  height: 8rem;
  background-image: url(../img/kk2.png);
  background-size: cover;
}
#blog .container .dua .gbr2 {
  width: 8rem;
  height: 8rem;
  background-image: url(../img/kk3.png);
  background-size: cover;
}
#blog .container .dua .gbr3 {
  width: 8rem;
  height: 8rem;
  background-image: url(../img/kk4.png);
  background-size: cover;
  background-position: center;
}

.testi .container .row .card {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

/* >>>>>>>>>>>>> responsive <<<<<<<<<<<<<<<< */
@media screen and (max-width: 576px) {
  .jumbotron .image .img-fluid {
    margin-left: 1rem;
    height: 50vh;
  }

  .jumbotron .image .google {
    top: 1rem;
    left: 2rem;
  }
  .jumbotron .image .drop {
    position: absolute;
    top: 6rem;
    left: 0;
  }

  .jumbotron .image .card {
    position: static;
    margin-top: 1rem;
    width: 100%;
  }

  #blog .container .satu div {
    height: 20rem;
    background-image: url(../img/kk1.png);
    background-size: cover;
  }

  #blog .container .dua .gbr1 {
    width: 14rem;
    height: 6rem;
    background-image: url(../img/kk2.png);
    background-size: cover;
  }
  #blog .container .dua .gbr2 {
    width: 14rem;
    height: 6rem;
    background-image: url(../img/kk3.png);
    background-size: cover;
  }
  #blog .container .dua .gbr3 {
    width: 14rem;
    height: 6rem;
    background-image: url(../img/kk4.png);
    background-size: cover;
  }
}
